main {
  width: 600px;
  margin-left: 292px;
}

main {
  .tweet-btn {
    font-size: 15px;
    padding-block: 4px;
    margin-block: 8px;
  }
}

.nav {
  height: 53px;
}

.nav-link.active{
  font-weight: bold;
  text-decoration: underline solid #1DA1F2 4px;
  text-underline-offset: 17px;
}

.tab {
  height: 100%;
  line-height: 53px;
}

.card {
  border-radius: 0px;
}

.form-control-plaintext {
  min-height: 62px;
}

.reaction-icon {
  transition: background-color 0.3s ease;
}

.reply-icon:hover {
  background-color:	#E1EEF6;
}

.reply-icon:hover svg path {
  fill: #1D9BF0;
  stroke: #1D9BF0;
}

.rt-icon:hover {
  background-color:	#DEF1EB;
}

.rt-icon:hover svg path {
  fill: #00BA7C;
  stroke: #00BA7C;
}

.like-icon:hover {
  background-color:	#F7E0EB;
}

.like-icon:hover svg path {
  fill: #F91880;
  stroke: #F91880;
}

.bookmark-icon:hover {
  background-color:	#f7e4cb;
}

.bookmark-icon:hover svg path {
  fill: #f7b154;
  stroke: #f7b154;
}