.sidebar {
  width: 260px;
  height: 100%;
  box-sizing: content-box;
}

.nav-item {
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color:	#E7E7E8;
}

.tweet-btn {
  width: 90%;
  background-color: #1DA1F2;
  color: white;
  font-weight: 700;
  padding-block: 12px;
  margin-block: 16px;
  transition: background-color 0.3s ease;
}

.tweet-btn:hover {
  background-color:	#1A8CD8;
  color: white;
}

.display-name {
  font-weight: 700;
  margin-bottom: 0;
}
