.sidebar {
  width: 260px;
  height: calc(100% - 71px);
  box-sizing: content-box;
  position: fixed;
  top: 71px;
}

.sidebar {
  .tweet-btn {
    width: 90%;
    padding-block: 12px;
    margin-block: 16px;
  }
}

.nav-item {
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color:	#E7E7E8;
}

.display-name {
  font-weight: 700;
  margin-bottom: 0;
}

.notification-count {
  display: grid;
  place-content: center;
  background-color: #53A3E3;
  font-size: 11px;
  min-width: 18px;
  height: 18px;
  top: -5px;
  right: -3px;
}