.timeline {
  width: 600px;
}

.timeline-image {
  min-width: 75%;
  max-width: 100%;
  max-height: 510px;
  border-radius: 4%;
  object-fit: cover;
}

.tab-bar {
  position: relative;
  z-index: 1;
}

.tab {
  height: 100%;
  line-height: 53px;
}

.nav {
  height: 53px;
}

.nav-link.active{
  font-weight: bold;
  text-decoration: underline solid #1DA1F2 4px;
  text-underline-offset: 17px;
}

.card {
  border-radius: 0px;
}

.reaction-icon {
  transition: background-color 0.3s ease;
}

.reply-icon:hover {
  background-color:	#E1EEF6;
}

.reply-icon:hover svg path {
  fill: #1D9BF0;
  stroke: #1D9BF0;
}

.rt-icon:hover {
  background-color:	#DEF1EB;
}

.rt-icon:hover svg path {
  fill: #00BA7C;
  stroke: #00BA7C;
}

.like-icon:hover {
  background-color:	#F7E0EB;
}

.like-icon:hover svg path {
  fill: #F91880;
  stroke: #F91880;
}

.bookmark-icon:hover {
  background-color:	#f7e4cb;
}

.bookmark-icon:hover svg path {
  fill: #f7b154;
  stroke: #f7b154;
}

:not(.tweet-detail) > .tweet {
  cursor: pointer;
}

:not(.tweet-detail) > .tweet:hover,
:not(.tweet-detail) > .tweet:hover .actions {
  background-color:	#F7F7F7;
}
